body{
    background-color: #ffe9f9;
    color:black;
    font-family: 'Arial', sans-serif;
    padding: 30px;
p {
    line-height: 2.25em;
}

img {
    width: 300px;
    float: left;
    border: solid 3px #ff6ab9;
    border-radius: 6px;
    margin-right: 15px;
}
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    background: hwb(326 89% 0%);
    padding: 20px;
    text-align:center;
    width: 50%;
    margin:auto;
    font-size: 2.5em;
    border: solid 3px #ff6ab9;
    border-radius: 30px;
}
h2{
    text-align: center;
}
h3{
    width: 80%;
    margin:auto;
    padding: 20px;
}
#pic2{
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
.highlight{
    background-color: #ffbae0;
    font-weight: bold;
    color: black;
    padding: 4px;
    border-radius: 5px;
}
a{
    color: #ff6ab9;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: hsl(328, 47%, 51%);
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
